:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  flex: 0 1 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #cccccc3e;
}

.bottom-section {
  flex: 1 1 auto;
  padding: 50px;
  overflow-y: auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.user-card {
  background-color: rgb(44, 5, 94);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-card h2 {
  margin: 10px 0;
  font-size: 20px;
}

.user-card p {
  margin: 5px 0;
  font-size: 14px;
}

.error-boundary {
  text-align: center;
  padding: 20px;
}
